body {
    background-color: rgb(230, 226, 226);
}

#loadd {
    background-color: rgb(230, 226, 226);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
}

#load {
    margin-bottom: 100px;
    display: flex;
    /* margin: auto; */
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 50px 60px 50px;
    border-radius: 5px;
    width: 300px;
}

#pictur {
    width: 200px;
    height: 200px;
    display: flex;
    margin: auto;
}

#button {
    background-color: blue;
    border-radius: 5px;
    line-height: 30px;
    width: 250px;
    margin-top: 20px;
}

#box {
    display: none;
    background-color: white;
    border-radius: 5px;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    width: 200px;
    /* margin-left: 440px; */
    /* display: none; */
}

.p1 {
    width: 80px;
    display: flex;
}

.in {
    border-radius: 5px;
    line-height: 25px;
    width: 250px;
    margin-top: 20px;
}